[submodule "modules/sway.module_math"]
	path = modules/sway.module_math
	url = git://github.com/timcogames/sway.module_math.git
[submodule "modules/sway.module_gapi-gl"]
	path = modules/sway.module_gapi-gl
	url = git://github.com/timcogames/sway.module_gapi-gl.git
[submodule "modules/sway.module_core"]
	path = modules/sway.module_core
	url = git://github.com/timcogames/sway.module_core.git
