[submodule "submodules/sway.module_core"]
	path = submodules/sway.module_core
	url = https://github.com/timcogames/sway.module_core.git
[submodule "submodules/sway.module_math"]
	path = submodules/sway.module_math
	url = https://github.com/timcogames/sway.module_math.git
[submodule "submodules/sway.module_gapi"]
	path = submodules/sway.module_gapi
	url = https://github.com/timcogames/sway.module_gapi.git
[submodule "submodules/sway.module_platform-glx11"]
	path = submodules/sway.module_platform-glx11
	url = https://github.com/timcogames/sway.module_platform-glx11.git
[submodule "submodules/sway.module_render"]
	path = submodules/sway.module_render
	url = https://github.com/timcogames/sway.module_render.git
[submodule "submodules/sway.module_rms"]
	path = submodules/sway.module_rms
	url = https://github.com/timcogames/sway.module_rms.git
[submodule "submodules/sway.module_loader"]
	path = submodules/sway.module_loader
	url = https://github.com/timcogames/sway.module_loader.git
